absl-py==0.12.0
aiofiles==0.7.0
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
craft-text-detector==0.3.5
cycler==0.10.0
Cython==0.29.23
dataclasses==0.6
decorator==4.4.2
defusedxml==0.7.1
detect==2020.12.3
detecto==1.2.1
Django==3.2.5
djangorestframework==3.12.4
easydict==1.9
einops==0.2.0
entrypoints==0.3
extext==0.1
fastapi==0.67.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gdown==3.11.0
glob2==0.7
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.34.1
gunicorn==20.0.4
h11==0.12.0
h5py==2.10.0
httptools==0.2.0
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==4.5.0
imutils==0.5.4
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jiwer==2.2.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labelImg==1.8.5
lightgbm==3.2.1
lmdb==1.0.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.2.2
matplotlib-inline==0.1.2
mistune==0.8.4
natsort==7.1.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy==1.18.5
oauthlib==3.1.1
onnxruntime==1.8.1
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.0.5
pandocfilters==1.4.3
parso==0.8.2
pdf2image==1.16.0
pdfrw==0.4
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.1.0
prefetch-generator==1.0.1
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.17.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.0
pycparser==2.20
pycryptodome==3.9.8
pydantic==1.8.2
Pygments==2.9.0
PyMySQL==0.9.3
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.8
python-dateutil==2.8.1
python-dotenv==0.19.0
python-Levenshtein==0.12.2
python-louvain==0.15
python-multipart==0.0.5
pytz==2021.1
PyWavelets==1.1.1
pywin32==301
pywinpty==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
rdflib==6.0.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.96
Shapely==1.7.0
six==1.15.0
sklearn==0.0
slack-sdk==3.3.0
sqlparse==0.4.1
starlette==0.14.2
tensorboard==2.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.10.0
tesseract==0.1.3
testpath==0.5.0
text-utils==0.0.5
tf-slim==1.1.0
threadpoolctl==2.1.0
tifffile==2021.7.2
torch==1.7.0+cpu
torch-geometric==1.7.2
torch-scatter==2.0.8
torch-sparse==0.6.11
torchtext==0.6.0
torchvision==0.8.1+cpu
tornado==6.1
touch==2020.12.3
tqdm==4.47.0
traitlets==5.0.5
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.25.11
utilpack==1.9.3
uvicorn==0.14.0
values==2020.12.3
vietocr==0.3.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.1
